body {
  font-family: "Baloo Thambi 2", cursive;
  background-color: #0e0240;
  color: white;
}

.footer-basic-centered {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font: normal 18px sans-serif;
  padding: 45px;
  margin-top: 80px;
}

footer {
  position: relative;
  bottom: 0;
}
