body {
  font-family: "Baloo Thambi 2", cursive;
  background-color: #0e0240;
}
#home-section {
  background-color: #0e0240;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  color: #ffffff;
}

#coronahelp-section {
  background-color: #0e0240;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 10%;
  color: #ffffff;
}
